<md-content style="padding: 20px">
    <div ng-if="loading === false">
        <div layout="row" layout-align="space-between start">
            <h1>{{newsdetail.title}}</h1>
            <h4>{{newsdetail.publish_date}}</h4>
        </div>

        <div layout="column">
            <p>{{newsdetail.intro}}</p>
            <p>{{newsdetail.description}}</p>
        </div>

        <md-button class="md-raised md-primary" ng-click="goBack()">terug</md-button>
    </div>


    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading === true">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>


</md-content>